body {
    background-color:rgb(205, 215, 245) !important;
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(5,15,55);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .disconnect {
        all:unset;
        color: white;
        cursor: pointer;
    }

}

.recipe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    gap: 20px;
}

.recipe-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe {
    width: 600px;
    background-color:rgb(135,165,255);
    padding: 20px;
    border-radius: 8px;

    img{
        width: 100%;
    }

    li {
        font-size: medium;
    }
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 125, 215);
    border-radius: 4px;
    width: 30px;
    height: 30px;

    i {
        color: white;
        font-size: 16px;
    }
}